body {
    background-color: #030657;
}
.sc-iqHYGH.nJeCS {
    background-color: transparent;
}
nav.sc-bTvRPi.jiMPjx {
    background-color: #030657;
}
.sc-hOqqkJ.gnCGOc {
    background-color: #00059c;
}

button.sc-dlfnbm.gCjsjF {
    color:#ffb900;
    background-color: #0005a52d;
}
.sc-cOajty.nblXu {
    background-color: #030657;
}
svg.sc-bdfBwQ.clwFtm {
    fill: #ffb900;
}
.sc-gsTCUz.gwqAsH {
    color:#ffb900
}
input.sc-bBXqnf.gkpXqk {
    color:#ffb900;
    background-color: #6a6ef4;
}


input.sc-bBXqnf.iLxNok {
    color:#ffb900;
    background-color: #6a6ef4;
}
div#swap-page {
    background-color: #030657;
}
svg.sc-bdfBwQ.gcQKnf {
    fill: #ffb900;
}
svg.sc-bdfBwQ.VjmCL {
    color: #ffb900;
}
.sc-gsTCUz.koaaKw {
    color: #ffbb0084;
}
.sc-gsTCUz.bDVvPf {
    color:#ffb900;
}
.sc-dkAroR.kyOuvJ {
    background-color: #03065767;  
} 
.sc-dkAroR.kyOuvJ {
    background-color: #5f64f467;
}
button.sc-dlfnbm.kxxKvB.sc-hKgILt.hFmlgK {
    background-color: #2a00e3;
}

input#token-search-input {
    color: #ffb900 ;
    background-color: #03065760;
}
svg {
    color: #ffb900;
}
svg.sc-bdfBwQ.VjmCL {
    fill: #ffb900;
}
button.sc-dlfnbm.dNnCDP {
    background-color: #ffb900;
    color:#0006aa;
}
nav.sc-bTvRPi.jiMPjx {
    background-color: #0306572d;
}
a#swap-nav-link {
    background-color: #0006aa;
    color: #ffb900;
    block-size: 40px;
}
a#pool-nav-link {
    background-color: #0006aa;
    color: #ffb900;
    block-size: 40px;
}
.sc-gsTCUz.XSMoB {
    color:#ffb900 ;
}
button.sc-hYZPRl.khhkiO.open-currency-select-button {
    background-color: #03065700;
}
button.sc-hYZPRl.khhkiO.open-currency-select-button:hover {
    background-color: #03065751;
}
.lapGRh:focus, .lapGRh:hover {
    background-color: #03065703;
}
button.sc-hYZPRl.lapGRh.open-currency-select-button:hover {
    background-color: #03065751;
}
button#wallet-connect-metamask {
    background-color: #ffb900;
}
button.sc-dlfnbm.kxxKvB {
    background-color: #ffb900;
    color: #030657;
}
.sc-gsTCUz.ivJUuk {
    color: #ffbb008a;
}
button.sc-hYZPRl.lapGRh.open-currency-select-button {
    background-color: #ffffff00;
}

button.sc-dlfnbm.lnecAX {
    color: #ffb900;
}
button.sc-dlfnbm.bPQPFc {
    color: #ffb900;
    border-color: #ffb900;
}
.sc-gsTCUz.fMrDSl {
color: #ffb900;
}
.sc-gsTCUz.sc-jHVexB.bpOdYe.lbopBD {
    color: #ffb900;
}
a.sc-gsTCUz.sc-bYEvPH.paheS.bAxdNz {
    color: #ffb900;
}
svg.sc-bdfBwQ.fZQxKT {
    fill: #ffb900;
}
button#wallet-connect-trustwallet {
    background-color: #ffb900;
}
button#wallet-connect-mathwallet {
    background-color: #ffb900;
}
button#wallet-connect-tokenpocket {
    background-color: #ffb900;
}
button#wallet-connect-walletconnect {
    background-color: #ffb900;
}
button#wallet-connect-binance\ chain\ wallet {
    background-color: #ffb900;
}
button#wallet-connect-safepal\ wallet {
    background-color: #ffb900;
}
.sc-gsTCUz.hnzGjA {
    color:#0006aa;
}
svg.sc-bdfBwQ.jYxusS {
    fill: #030657;
}
a.sc-gsTCUz.sc-bYEvPH.fjbQSd.bAxdNz.sc-TmcTc.jORtru {
    color: #030657;
}

.sc-bAfeAT.gAwXaF {
    background-color: #0306576b;
}
.sc-dwfUOf.dWqooP {
    background-color: #030657b1;
    color: #ffbb00;
}
.sc-fbkhIv.gLujrM {
    background-color: #030657b1 ;
    color: #ffbb00;

}
.sc-eJMQSu.dtflKE {
    color: #ffbb00;
}
a.active {
    color: #ffbb00;
}
div#pair {
    background-color: transparent;
    color: #ffbb00;
}
.sc-gsTCUz.eGQsjO {
    color: #ffbb00;
}

.sc-lcujXC.gIRyVZ {
    background-color: #030657b1;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x7083609fCE4d1d8Dc0C979AAb8c869Ea2C873402:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x2170Ed0880ac9A755fd29B2688956BD959F933F8:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0xd46936677B2C1Bb696F2b67c55239331E2b7Cd42:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x55d398326f99059fF775485246999027B3197955:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-ETHER:hover {
    background-color: rgb(90, 183, 255);
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF {
    background-color: #030657;
}
.sc-fbNXWD.sc-kUbhmq.htSNkM.gLuHFd {
    background-color: #030657;
}
.sc-iuAqxS.fECkYQ {
    background-color: #030657;
}
.sc-bqyKva.egkUeL {
    background-color: #030657;
}
svg.sc-bdfBwQ.gPgZEp {
    fill: #ffbb00;
}
svg.sc-bdfBwQ.frFEld {
    fill: #ffbb00;
}
.sc-gsTCUz.lIBtH {
    color:#ffbb00;
}
a#join-pool-button {
    color: #0006aa;
    background-color: #ffbb00;
}
a#import-pool-link {
    color: #2be801;

}
svg.sc-bSFVuW.ijYjek {
    color:#ffbb00;
}
.sc-hkwnrn.dKbJdC {
    color: #ffbb00;
}
.sc-dQppl.hUvSAp.sc-bGqQkm.KzZQA {
    background-color: #030657;
}
svg.sc-bdfBwQ.eJVCmw {
    fill: #ffbb00;
    
}
input.sc-tkKAw.icwQSw.token-amount-input {
    color: #ffbb00;
}
button.sc-dlfnbm.hEYwvo {
    background-color: #ffbb00;
    color: #0006aa;
}
.sc-jQbIHB.bsfHEj {
    background-color: transparent;
}
.sc-jXktwP.iNJkDJ {
    background-color: #030657;
}
.sc-jGVbCA.sc-fXoxut.aZljx.megMs {
    background-color: #0e15da;
}
.sc-gsTCUz.lkpzfj {
    color: #ffbb00;
}

.sc-gsTCUz.ZFEBg {
    color: #ffbb00;
}
button.sc-dlfnbm.eBcNJK.pancake-button--disabled {
    color: #ffbb00;
    background-color: #0e15da;
}
.sc-gsTCUz.bFkCfA {
    color: #ffbb00;
}
img.sc-iNqMTl.jTWAhl.desktop-icon {
    width: 50px;
    height: 100%;
}
img.sc-jeGSBP.iqHJhJ.mobile-icon {
    width: 50px;
    height: 90%;
}
.sc-eCssSg.sc-jSgupP.bycykF.bHFAhC {
    background-color: #0d1187;
}
.sc-gsTCUz.hRhEJv {
    color: #ffbb00;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.hwNhqp.gOUPTt.cWWxLF.dmugEF.token-item-0x97f8CCa7b163E6ef1E9512EA0bA40F3B2F6E6E4d:hover {
    background-color: rgb(90, 183, 255);
}

svg.sc-bdfBwQ.dmLrEY {
    fill: #ffbb00;
}


.sc-gKsewC.ifQsQI {
    background-color: #771600;
     color: #27262c;

}
.sc-iBPRYJ.eUyVkd {
    background-color: #00035b;
    color: #27262c;

}
